.taskCounter{
    color: #323840;
    margin-top: 30px;
    margin-left: 15px;
}

.taskContainer{
    margin: 30px 15px 30px 15px;
    background-color: #96b39e;
}


.taskList{
  background-color:lightgrey;

  
  }

.addTask{
  background-color:lightgrey; 
  }


  

  