.taskCount {
  color: #323840;
  margin-top: 15px;
}

.taskContainer {
  background-color: #faf8f5;
  padding: 15px;
}

.taskList {
  background-color: #b6ccbc;
  margin-top: 15px;
  margin-left: 15px;
  border-style: 1px solid grey;

 
}

.addTask {
  background-color:#eae4f2;
  margin-top: 15px;
  margin-left: 15px;
  padding-top: 15px;
  border-style: 1px solid grey;

}


.task {
  background-color: #faf8f5;
  margin: 15px;
  border-style: 1px solid grey;

}

.taskBox {
  background-color: lightyellow;
  margin: 15px;
  border-style: 1px solid grey;


}

.btn{
  padding: 3px;
}