
body {
  font-family: 'Josefin Slab', serif;
  background-color:#faf8f5;
  margin: 30px 15px 30px 15px;
  color: #323840;
}


/* 
#title{
background-color: lightblue;
} */

/* 
#toDoTitle{
  margin-top: 30px;
  margin-left: 15px;

} */


